/*Цвета заливки*/
$main-background-color: #000;
$highlights-background-color: #25e197;
$items-background-color: #1c1c1e;

/*Цвета шрифтов*/
$headers-color: #fff;
$main-text-color: #8e8e98;
$labels-color: #47474c;
$highlights-color: #000;

/*Разрешения экранов*/
$desktop: 1440px;
$tablet: 768px;
$mobile: 560px;

/*Настройки элементов*/
$cursor: pointer;
$buttons-background-color: #47474c;
$inputs-passive-background-color: rgba(142, 142, 152, 0.2);
$inputs-active-background-color: rgba(142, 142, 152, 0.3);

/*Настройка закруглений*/
$images-border-radius: 10px;
$services-border-radius: 16px;