/*Настройка шрифтов*/
@mixin font-settings($size, $height, $color){
  font-family: Roboto, Arial, "Times New Roman", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: $size;
  line-height: $height;
  color: $color;
}

/*Настройка  ширины экрана*/
@mixin desktop ($screen-width){
  @media screen and (min-width: $screen-width){
    @content;
  }
}

/*Сброс стандартных настроек*/
@mixin default {
  padding: 0;
  margin: 0;
}